@charset "UTF-8";
body{
  font-size: 40px;
  background-color:#00BFFF;
  font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
  position: relative;
}

img{
  width:960px;
  height:540px;
  object-fit:contain;
  box-sizing: border-box;
  position:relative;
}

video{
  width:960px;
  height:540px;
  object-fit: contain;
  box-sizing: border-box;
  position: absolute;
}

#Area_Picture{
  border:black solid 5px;
  margin:15px 5px 5px 15px;
  background-color:black;
  width:960px;
  height:540px;
  z-index: 30;
  position: absolute;
}

#canvasArea{
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 100px;
}

#Area_AnsInput{
  top:580px;
  border:black solid 3px;
  margin:0px 5px 5px 15px;
  background-color:white;
  width:960px;
  height:150px;
  text-align: center;
  z-index: 30;
  position: absolute;
}

.pose{
  margin:5px 5px;
  font-weight:800;
  z-index: 30;
}

#writeArea{
  width: 80%;
  height:80px; 
  border:black solid 3px;
  font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
  font-size: 40px;
}

#btn{
  width: 15%;
  height:80px;
  border:black solid 3px;
  font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
  font-size: 40px;
}

#Area_Score{
  border:black solid 3px;
  width:500px;
  height:200px;
  background-color:white;
  position:absolute;
  top:15px;
  left:1000px;
  font-weight:800;
  text-align: center;
}

#userPoint{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 60px;
}

#Area_Countdown{
  height:30vh;
  width:30vh;
  border-radius:300%;
  line-height:30vh;
  text-align:center;
  background:red;
  color: white;
  font-size:20vh;
  margin-left:2vh;
  margin-top:2vh;
  position:absolute;
  top:30vh;
  left:150vh;
  z-index: 30;
}

#Area_odai{
  width:500px;
  height:70px;
  border:black solid 3px;
  background-color:white;
  position:absolute;
  top:490px;
  left:1000px;
  font-weight:800;
  z-index: 30;
}

#odaiTitle{
  margin-top:15px;
}

#odaiAnswer{
  margin-top:-40px;
  margin-left: 100px;
}

#Area_AnsOutput{
  width:500px;
  height:150px;
  border:black solid 3px;
  background-color:white;
  position:absolute;
  top:580px;
  left:1000px;
  overflow-y:scroll;
  z-index: 30;
}

.answerElement{
  margin: 5px 0 10px 10px;
  font-size: 30px;
}

#testImg{
  position:absolute;
  z-index: 50;
}