@charset "UTF-8";
body{background-color:#00BFFF;}
h2{margin:15px; background-color:white; border:black solid 2px; width:600px; height:150px;}
h3{border:black solid 2px; width:600px; height:200px;}
img{width:960px; height:540px; object-fit: contain; box-sizing: border-box; position:relative;}
video{width:960px; height:540px; object-fit: contain; box-sizing: border-box; position:relative;}

#Area_Picture{
  border:black solid 5px;
  margin:15px 5px 5px 15px;
  background-color:black;
  width:960px;
  height:540px;
}

#canvasArea{
  display: none;
}

#Area_AnsInput{
  border:black solid 2px;
  margin:15px 5px 5px 15px;
  background-color:white;
  width:960px;
  height:150px;
  font-size: 30px;
}

#pose{
  margin:5px 5px;
  font-weight:800;
  left:auto;
  right:auto;
}

#writeArea{
  width: 80%;
  height:80px; 
  border:black solid 2px;
  font-size: 30px;
}

#submitArea{
  width: 15%;
  height:80px;
  border:black solid 2px;
  font-size: 30px;
}

#Area_Score{
  border:black solid 2px;
  width:500px;
  height:200px;
  background-color:white;
  position:absolute;
  top:15px;
  left:1000px;
  font-weight:800;
}

#Area_Countdown{
  height:30vh;
  width:30vh;
  border-radius:300%;
  line-height:30vh;
  text-align:center;
  background:red;
  color: white;
  font-size:20vh;
  margin-left:2vh;
  margin-top:2vh;
  position:absolute;
  top:30vh;
  left:150vh;
}

#Area_odai{
  width:500px;
  height:70px;
  border:black solid 2px;
  background-color:white;
  position:absolute;
  top:490px;
  left:1000px;
  font-weight:800;
  font-size: 30px;
}

#Area_AnsOutput{
  width:500px;
  height:150px;
  border:black solid 2px;
  background-color:white;
  position:absolute;
  top:580px;
  left:1000px;
}