@charset "UTF-8";

h1{margin:15px 5px 5px 15px; border:black solid 5px; background-color:black; width:800px; height:450px;}
h2{margin:15px; background-color:white; border:black solid 2px; width:600px; height:150px;}
h3{border:black solid 2px; width:600px; height:200px;}
h4{}

img{width:800px; height:450px; object-fit: contain; box-sizing: border-box; position:relative;}
pose{margin:5px 5px;}
textarea{display:inline-block; width:80%; height:80px; box-sizing: border-box;}
num{}
.Area_Countdown{
  height:300px;
  width:300px;
  border-radius:300%;
  line-height:300px;
  text-align:center;
  background:red;
  font-size:144px;
  margin-left:20px;
  position:absolute;
  top:40px;
  left:1200px;
}
.Area_Score{
  border:black solid 2px;
  width 600px;
  height 1200px;
  background-color:white;
  position:absolute;
  top:15px;
  left:1000px;
}
body{background-color:#00BFFF; }