<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TaskTheme</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/TaskTheme.css') }}">
  <!-- 参考サイト https://oilabo.vercel.app/blog/2021/static-website-commenting/ -->
  <div>
  </div>
</head>

<body>

  <!-- 画像の表示部分の処理 -->
  <div class="Area_Picture">
    <h1>
      <img src="images/sample.png" alt="!画像の表示部分!">
    </h1>
  </div>

  <!-- 獲得した点数の表示部分の処理 -->
  <div class="Area_Score">
   <h4>
    <p>獲得ポイント</p>

    <p>Player1 : --- pt</p>
    <p>Player2 : --- pt</p>
    <p>Player3 : --- pt</p>
    <p>Player4 : --- pt</p>
    <p>Player5 : --- pt</p>
    <p>Player6 : --- pt</p>
    <p>Player7 : --- pt</p>
    <p>Player8 : --- pt</p>
   </h4>
  </div>

  <!--カウントダウンの表示部分の処理 -->
  <div class="Area_Countdown">
    <!--
      <span id="countdown-day"></span>日
      <span id="countdown-hour"></span>時間
      <span id="countdown-min"></span>分
      <span id="countdown-sec"></span>秒
      -->

    <script>
      onload = function() {
        //変数
        var min = 0;
        var counter = 10;

        //要素
        var box = document.getElementById('box');
        var msg = document.getElementById('msg');

        var timerfactor = setInterval(function() {
          if (counter == min) {
            //規定値になると要素を削除
            clearInterval(timerfactor);
          } else {
            counter--;
            msg.textContent = counter;
          }
        }, 1000);
      }
    </script>

    <div id="box">
      <div id="msg">
      </div>
    </div>
  </div>

  <!-- 解答の入力部分の処理 -->
  <div class="Area_AnsInput">
    <h2>
      <pose>このポーズが何か書こう！</pose>

      <!-- googleフォームのurl -->
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSdbVaeIYnm9R4AtrVYRgqSPJg9VDwSc6yk8iTY7JZCRQ8GN9w/viewform?usp=sf_link" target="hidden_iframe" method="post" onsubmit="return test(this.wcheck.value)">
        <p>
          <textarea name="entry.1599181852" placeholder="コメント" rows="10" cols="40" maxlength="400" id="wcheck" required>
      		</textarea>
        </p>
        <!-- <input type="submit" id="submitbutton" value="送信"> -->
        <!-- (不要なため割愛) -->
      </form>

      <iframe onload='if(submitted){window.location="";}' id=hidden_iframe name=hidden_iframe style=display:none></iframe>

      <script type="text/javascript">
        var NGComments = ["死ね", ".exe"]; // 簡易的なNGワードの設定
        var regex = new RegExp(NGComments.join("|"));

        function test(wcheck) {
          if (wcheck.match(regex) != null) {
            alert("ERROR: コメントにNGワードが含まれています");
            return false;
          }
          document.getElementById("submitbutton").disabled = true;
          textareas = document.getElementsByTagName('textarea');
          for (var i = 0; i < textareas.length; i++) {
            textareas[i].value = textareas[i].value.replace(/</g, '&lt;');
          }
          inputs = document.getElementsByTagName('input');
          for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = inputs[i].value.replace(/</g, '&lt;');
          }
          return submitted = !0;
        }
      </script>
    </h2>
  </div>

  <!-- 入力された他の解答の表示部分の処理 -->
  <div class="Area_AnsOutput">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <div id="comments"></div>
    <script>
      d3.csv("https://docs.google.com/spreadsheets/d/1HyeWdrv223uvpymSRalnrfw8-IXBpN0bEVr6_zOGT-A/edit?usp=sharing", function(error, data) {
        var text = "";
        for (var i = 0; i < data.length; i++) {
          text += i + 1 + " 名前: <a href=\"mailto:" + data[i].Mail + "\">" + data[i].Name + "</a> " + data[i].Timestamp + "<pre>" + data[i].Comments + "</pre>";
        }
        d3.select("#comments").html(text);
      });
    </script>
  </div>

</body>

</html>
