<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOME</title>
        <link rel="stylesheet" href="C:\Users\5t1ng\システム\classSystem\MOKA\static\css\HOME.css">
    </head>
    <body>
        <h1>M O K A</h1>
        <a href="/playerGame">ゲームスタート</a>
        <form id="nameForm">
            <input type="text" id="nameArea" placeholder="ユーザ名" name="name">
            <input type="button" id="nameBtn" value="ゲームスタート" onClick="gameStartPost('http://34.168.254.39/userEntry')">
        </form>

        <script src="C:\Users\5t1ng\システム\classSystem\MOKA\static\js\startActivity.js"></script>
    </body>
</html>